@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.panel {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}   

.admin-panel-primary {
    border-color: #356FA2;
}   

.admin-panel-primary > .admin-panel-heading {
    background-color: #356FA2;
    border-color: #356FA2;
    color: #FFFFFF;
}   

.admin-panel-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}   

.admin-panel-title {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}   

.admin-panel-body:before, .admin-panel-body:after {
    content: " ";
    display: table;
}   

.admin-panel-body:before, .admin-panel-body:after {
    content: " ";
    display: table;
}   

.admin-panel-body:after {
    clear: both;
}   

.admin-panel-body {
    padding: 15px;
}   

.admin-panel-footer {
    background-color: #F5F5F5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #DDDDDD;
    padding: 10px 15px 50px 10px;
}

//CSS from v3 snipp
.admin-panel-dropdown:hover {
    cursor: pointer;
}

.admin-panel-table-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.admin-panel-table-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.panel-header {
    margin: 0px;
}

.admin-panel-row {
    margin-bottom: 10px;
}

.learn-item-container h2 {
    margin-top: 0px;
    font-size: 200%;
}

.learn-item-container h3 {
    margin-top: 0px;
}

.learn-item-container h4 {
    margin-top: 0px;
}

.learn-item-container .span4 {
    height: 200px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

#category-container .span4 {
    background-color: rgb(11,207,211);
    background-color: rgba(11,207,211, 0.5);
}

#topic-container .span4 {
    background-color: rgb(22,159,180);
    background-color: rgba(22,159,180, 0.5);
}

#material-container .span4 {
    background-color: rgb(29,126,190);
    background-color: rgba(29,126,190, 0.5);
}

.learn-item-container .span4:hover {
    opacity: 0.5;
}

.learn-item-container .row-fluid {
    margin-top: 25px;
}

.category-topics {
    display: none;
}

.topic-material {
    display: none;
}

.add-item {
    text-align: center;
    vertical-align: middle;
    font-size: 110px;
    color: #555;
}

#material-editing-pane {
    display: none;
}

#material-editing-pane .btn{
    padding: 5px 7px !important;
    border-color: rgb(116, 137, 138);
}

.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }

