img {
    margin: 5px;
}

h5 {
    margin-bottom: 0px;
    margin-top: 5px;
}

.list-group {
    margin-bottom: 0px !important;
}

.challenge-item {
  position: relative;
  height: 250px;
  width: 250px;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em 1.5em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: 60px auto;
}

.challenge-item h3 {
    position: relative;
    top: -15px;
}

.challenge-item p {
    position: relative;
    top: -15px;
    text-overflow: ellipsis;
}

.challenge-title {
    padding-top: 0px;
    font-size: 120%;
}

.challenge-content {
    word-wrap: break-word;
}

.solved-challenge {
    background-color: rgba(0,255,0,0.3);  
    color: #888;
}

.list-group-item-text {
    text-align:justify;
    text-justify:inter-word;
    margin-bottom: 10px;
}

.list-group-item-heading {
    margin-bottom: 0px;
    cursor: pointer;
    cursor: hand;
}

.glyphicon-rotate-down {
    -webkit-transform: rotate(-90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(-90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(-90deg);  /* IE 9 */
    -o-transform: rotate(-90deg);  /* Opera 10.50-12.00 */
    transform: rotate(-90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.glyphicon-rotate-right {
    -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(90deg);  /* IE 9 */
    -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
    transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
