hr {
    border-color: #CCC;
    margin-top: 0px;
}

.page-header {
    margin-bottom: 0px;
    margin-top: 0px;
}

.jumbotron {
    margin-bottom: 0px;
}

p {
    font-size: 120%;
    text-align: justify;
    text-justify: inter-word;
}

.caption h3 {
    margin-top: 0px;
}

a {
    text-decoration: none !important;
}

.thumbnail > img {
    max-height: 200px;
    min-height: 200px;
}

.thumbnail {
    cursor: pointer;
    background-color: #FFF;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.thumbnail:hover {
    opacity: 0.5;
}

.breadcrumb {
    background-color: #FFF;
    font-size: 80%;
}

.container:before {
    display: block !important;
}

.move-box {
  position: relative;
  display: block;
  left: 0px;
  transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
    .move-box:hover {
        left: 20px;
    }
}

.side-bar-title {
    -webkit-border-top-left-radius: 10px !important;
-webkit-border-top-right-radius: 10px !important;
-moz-border-radius-topleft: 10px !important;
-moz-border-radius-topright: 10px !important;
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
}

.side-bar-title > .row-fluid > .span12 > h4 {
    color: #FFF !important;
    text-align: center;
}

.material-side-bar-title {
    background-color: #18BC9C;
}

.topic-side-bar-title {
    background-color: #227D76;
}

.category-side-bar-title {
    background-color: #2C3E50;
}

.current-page {
    background-color: #2B60DE !important;
    color: #FFF !important;
}

.border-fade {
    padding: 20px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.border-fade:hover, .border-fade:focus, .border-fade:active {
  box-shadow: inset 0 0 0 4px #666666, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
