@media screen and (min-width: 765px) and (max-width: 960px){
    #controller-image {
        position: relative !important;
        left: -30px;
    }
}

@media screen and (min-width:768px){
    .jumbotron h1,.jumbotron .h1{
        font-size:120px
    }
    
    .slide-title > h1 {
        font-size:90px
    }
    
}

@media (max-width: 768px) {
    .large-image {
      left: 10% !important;
    }

    .navbar-header {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }

    .header-images .span4:first-child img {
        margin-top: 200px !important;
    }

    .navbar-collapse {
        margin-left: 15px !important;
    }
}

.slide-title {
    color: #FFF;

text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/* Slide 1 */
#power_button {
  position: absolute;
  top: 0px;
  left: 25%;
  margin-right: 0px;
}

/* Slide 2 */
#flag {
  position: absolute;
  top: 0px;
  left: 5%;
  margin-right: 0px;
  max-height:900px;
}

@media screen and (min-width:768px){
    #page2 > .page_container {
    }
}

/* Slide 3 */

#page3 .slide-title {
}

/* Slide 4 */
#page4 .slide-title {
}

/* Slide 5 */
#page5 .slide-title {
}
/* End Slide CSS */

.header-images {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-images > .span4 > img {
    display: block;
    margin: auto;
    height: 150px;
}

.header-images > .span4 > h1 {
    text-align: center;
}


.page-title > h1 {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1),
             -1px -1px 10px rgba(0, 0, 0, 0.1),
             -1px -1px 20px rgba(0, 0, 0, 0.3);
    color: #EFEFEF;
}

html {
  height: 100%;
}

body {
  background: #ecf0f1;
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto; 
    overflow: hidden;
}

h1 span {
  font-size: 26px;
  margin: 0 5px;
  text-transform: capitalize;
  background: rgba(0,0,0,0.85);
  display: inline-block;
  color: #6D461D;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  padding: 3px 10px;
}

h2 {
  color: #6D461D;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 10px;
}

code {
  margin: 20px 1%;
  float: left;
  width: 48%;
  height: 105px;
  background: rgba(0,0,0,0.1);
  border: rgba(0,0,0,0.05) 5px solid;
  border-radius: 5px;
  padding:5px;
  color: white;
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

code.html {
  color: #7EC9E6;
}

code.js {
  color: #FFAD00;
}

.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}

.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}

.reload, .btn{
  display: inline-block;
  border: 4px solid #A2261E;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #CC3126;
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  color: #fff;
  width: 100px;
  line-height: 140%;
  font-size: 17px;
  font-weight: bold;
}

.reload:hover{
  background: #444;
}

header {
  position: relative;
  z-index: 10;
}
.main section .page_container {
  position: relative;
  top: 10%;
  margin: 0 auto 0;
  max-width: 950px;
  z-index: 3;
}
.main section  {
  overflow: hidden;
}

.main section > img {
  position: absolute;
  max-width: 100%;
  z-index: 1;
}
.main section.page2 > img {
  position: absolute;
  top: -300px;
  left: 50%;
  margin-left: -1095px;
}

.main section.page1 {
  background:rgb(230, 217, 200);
}
.main section.page1 h1 {
  text-align: left;
  padding: 0;
  margin-bottom: 15px;
  font-size: 70px;
  color: black;
}
.main section.page1 h2 {
  color: rgba(0,0,0,0.85);
  text-align: center;
  width: 435px;
  line-height: 160%;
}
.main section .page_container .btns {
  clear: both;
  float: left;
  text-align: center;
  width: 435px;
}
.main section .page_container .btns a{
  text-align: center;
}
.main section.page2 {
  background: #555557 url(back-phone.png) no-repeat center -150px ;
}
.main section.page2 > img {
  position: absolute;
  top: -300px;
  left: 50%;
  margin-left: -1095px;
}
.main section.page2 .page_container {
  margin-top: 240px;
  overflow: hidden;
}
.main section.page2 h1 {
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  font-size: 50px;
  letter-spacing: -1px;
  color: white;
}
.main section.page2 h2 {
  color: rgba(255,255,255,0.85);
  text-align: center;
  line-height: 160%;
  font-weight: 100;
}
.viewing-page-2 .back{
  background: rgba(0, 0, 0, 0.25);
  color: #FFF;
  }
.main section.page3 {
  background:url(tilted-phone.png) no-repeat 156px -150px ;
}
.main section.page3 .page_container {
  overflow: hidden;
  width: 500px;
  right: -285px;
}
.main section.page3 h1 {
  text-align: left;
  padding: 0;
  margin-bottom: 0;
  font-size: 70px;
  letter-spacing: -1px;
  color: black;
}
.main section.page3 h2 {
  color: rgba(0,0,0,0.85);
  text-align: left;
  line-height: 160%;
  font-weight: 100;
  font-size: 21px;
}

body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
  padding: 20px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.disabled-onepage-scroll  section .page_container h1{
  text-align: center;
  font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
  text-align: center;
  width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
  position: absolute;
  width: 80%;
  left: 10%;
}

body.disabled-onepage-scroll .main section > img {
  position: relative;
  max-width: 80%;
  bottom: 0;
}
body.disabled-onepage-scroll code {
  width: 95%;
  margin: 0 auto 25px;
  float: none;
  overflow: hidden;
}

body.disabled-onepage-scroll .main section.page3 .page_container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}
