@media (max-width: 768px) {
    .navbar-nav > li > a {
        margin-left: 15px;
    }

    .navbar-header {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .page-title > h1 {
        font-size: 40px !important;
    }
}

@media (min-width: 768px) {
}

.nav-image {
    padding-bottom: 0px !important;
    position: relative !important;
    top: 30px !important;
}

.nav-image img {
    max-width:20px !important;
    max-height: 20px;
    margin: 0px;
    position: relative;
    top: -5px;
}

.page-title > h1 {
    font-size: 75px;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1),
             -1px -1px 20px rgba(0, 0, 0, 0.3);
    color: #EFEFEF;
}

.jumbotron {
    padding:0px !important;
}

.update-picture {
    margin-top:21px;
    max-width:100%;
    padding: 5px;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.update-body {
    font-size:80%;
}

.control-label {
    padding-left: 0px;
    padding-right: 0px;
}

.syntaxhighlighter {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}
